<div class="flex-1 flex items-center">
  <!-- LOGO -->
  <a>
    <%= link_to root_path, class: "navbar-brand toggleColour no-underline hover:no-underline font-bold text-2xl lg:text-4xl text-black lg:ml-3" do %>
      <div class="flex w-auto space-x-2">
          <div class="flex align-items-center">
            <h1 class="text-blue-500 font-title-play">Loquacious</h1>
          </div>
      </div>
    <% end %>
  </a>
</div>
