<div class="container m-auto">
  <div class="bg-cover" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url('https://wallpaperforu.com/wp-content/uploads/2020/07/yellow-aesthetic-wallpaper-20072002141919.jpg');  height: 75vh;">
    <div class="flex flex-wrap content-center h-full">

        <div class="z-0 mx-auto flex flex-wrap content-center h-full w-10/12 lg:w-4/6">

          <!-- Word -->
          <div class="w-full flex items-center flex-wrap"><h1 class="font-title-play text-2xl lg:text-3xl">Oh eh !</h1>
          </div>

          <!-- Définition -->
          <div class="px-5 leading-tight lg:px-10 font-body-philo text-lg lg:text-xl text-justify">
            <p class="py-3">Tu es en avance ! Tu aimerais connaître ce mot ? Il va te falloir attendre encore ! <br>
            J'ai trouvé deux citations sympa sur la patience : d'abord "Pas de patience, pas de science" et "La patience est presque l'amour". Voilà, c'est cadeau ! Une préférence ?</p>
            <p class="py-1 lg:py-3 italic">N'hésite pas à revenir ces prochains jours petit•e fripon•ne.</p>
          </div>

          <div class="loader loader--style1" title="0">
  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 20 20"
      to="360 20 20"
      dur="0.5s"
      repeatCount="indefinite"/>

    </path>
  </svg>
</div>
        </div>

     </div>
  </div>

  <h1 class="text-2xl lg:text-4xl font-title-play text-center -mt-10 pt-4 lg:-mt-10 lg:pt-1">Bientôt</h1>

</div>
