<div class="container m-auto">
  <div class="bg-cover" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url('https://wallpaperforu.com/wp-content/uploads/2020/07/yellow-aesthetic-wallpaper-20072002141919.jpg');  height: 75vh;">
    <div class="flex flex-wrap content-center h-full">

        <div class="z-0 mx-auto flex flex-wrap content-center h-full w-10/12 lg:w-4/6">

          <!-- Word -->
          <div class="w-full flex items-center flex-wrap"><h1 class="font-title-play text-2xl lg:text-3xl">Oh eh !</h1>
          </div>

          <!-- Définition -->
          <div class="px-5 leading-tight lg:px-10 font-body-philo text-lg lg:text-xl text-justify">
            <p class="py-3">Tu es en avance ! Tu aimerais connaître ce mot ? Il va te falloir attendre encore ! <br>
            J'ai trouvé deux citations sympa sur la patience : d'abord "Pas de patience, pas de science" et "La patience est presque l'amour". Voilà, c'est cadeau ! Une préférence ?</p>
            <p class="py-1 lg:py-3 italic">N'hésite pas à revenir ces prochains jours petit•e fripon•ne.</p>
          </div>

        </div>

     </div>
  </div>

  <h1 class="text-2xl lg:text-4xl font-title-play text-center -mt-10 pt-4 lg:-mt-10 lg:pt-1">Bientôt</h1>

</div>
