<div class="container m-auto">
  <div class="opacity-30 bg-cover" style="background-image: url('https://www.wallgroup.com/media/catalog/product/cache/ce339dd56671d6bccbcac0916ee6b376/w/0/w04024-small.jpg'); height: 75vh;">
    <div class="mx-auto flex flex-wrap content-center h-full w-4/6">

      <!-- Word -->
      <div class="w-full flex flex-wrap inline-block align-text-bottom"><h1 class="font-title-play text-3xl">Callipyge,</h1>
        <h3 class="font-title-play text-xl">adj. :</h3>
      </div>

      <!-- Définition -->
      <div class="pl-10 font-body-philo text-xl text-justify">
        <p class="py-3">Adjectif faisant allusion à un type de statues antiques de Vénus Callipyge : elles représentent Vénus soulevant son péplos pour se mirer dans l'eau et regarder ses fesses, nécessairement superbes par-dessus l'épaule.</p>
        <p class="py-3">De nos jours, Callipyge est utilisé pour parler d'une personne qui a de belles fesses, harmonieusement arrondies</p>
      </div>

    </div>
  </div>

  <h1 class="text-5xl font-title-play text-center -mt-12">22 Fevrier</h1>

</div>

